<div class="gtco-loader">
</div>

<div id="page">
  <!-- navigation  -->
  <app-menu-bar [logoType]="'small'"></app-menu-bar>
  <!-- navigation  -->

  <header id="gtco-header" class="gtco-cover-smallorigin gtco-cover-sm" role="banner" style="background-image:url(./assets/images/img_bg_1.jpg);">

    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <!--<h1>About Us</h1>-->
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <!--<h2>Why we create this platform? Who are we? What is our story?</h2>-->
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="gtco-section">
    <div class="gtco-container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading gtco-heading-sm">
          <h2>Our History</h2>
        </div>
      </div>
      <div class="row animate-box">
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat
            atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
          <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur
            expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.</p>
        </div>
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat
            atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
          <p>
            <a class="btn btn-primary">Our Services</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--
	<div class="gtco-cover gtco-cover-sm" style="background-image:url(./assets/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Keep it simple</h1>
							<h2>Free html5 templates Made by <a href="http://gettemplates.co" target="_blank">gettemplates.co</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->

  <div id="gtco-team" class="gtco-section">
    <div class="gtco-container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Our Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
          <div class="gtco-staff">
            <i>
              <img src="./assets/images/about/person_1.png" class="img-cicle" />
            </i>
            <h3>Jean Smith</h3>
            <strong class="role">Web Designer</strong>
            <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur
              expedita. Possimus itaque adipisci.</p>
            <ul class="gtco-social-icons">
              <li>
                <a>
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-dribbble"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
          <div class="gtco-staff">
            <i>
              <img src="./assets/images/about/person_2.png" class="img-cicle" />
            </i>
            <h3>Yizhu Guo</h3>
            <strong class="role">Front-end Developer</strong>
            <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur
              expedita. Possimus itaque adipisci.</p>
            <ul class="gtco-social-icons">
              <li>
                <a>
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-dribbble"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
          <div class="gtco-staff">
            <i>
              <img src="./assets/images/about/person_3.png" class="img-cicle" />
            </i>
            <h3>Alex King</h3>
            <strong class="role">Back-end Developer</strong>
            <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur
              expedita. Possimus itaque adipisci.</p>
            <ul class="gtco-social-icons">
              <li>
                <a>
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-dribbble"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="icon-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="gtco-started">
    <app-login-form></app-login-form>
  </div>
  <app-footer></app-footer>
</div>

<div class="gototop js-top">
  <a class="js-gotop">
    <i class="icon-arrow-up"></i>
  </a>
</div>
