.chooseLan {
  color: aqua;
}

select {
  /* background-color:rgba(238, 238, 238, 0.739); */
  color: #52d3aa(41, 237, 255);
  border: none;
  z-index: 1002;
  border-radius: 100px;
  padding: 2px 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

select:hover {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
