<div class="gtco-loader"></div>

<div id="page">
  <!-- navigation  -->
  <app-menu-bar [logoType]="'big'"></app-menu-bar>
  <!-- navigation  -->

  <header id="gtco-header" class="gtco-cover-origin gtco-cover-sm" role="banner" style="background-image:url(./assets/images/img_bg_1.jpg);">

    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <!--<h1>Get In Touch</h1>-->
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <h2>Your feedback is highly appreciated and will help us to improve our ability to serve you.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div id="gtco-login">  
    <app-login-form></app-login-form>
  </div>
  <app-footer></app-footer>
</div>

<div class="gototop js-top">
  <a class="js-gotop">
    <i class="icon-arrow-up"></i>
  </a>
</div>


