<div class="gtco-loader"></div>

<div id="page">
  <!-- navigation  -->
  <app-menu-bar [logoType]="'small'"></app-menu-bar>
  <!-- navigation  -->

  <header id="gtco-header" class="gtco-cover-smallorigin gtco-cover-sm" role="banner" style="background-image:url(./assets/images/img_bg_1.jpg);">

    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <!--<h1>Get In Touch</h1>-->
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <h2 style="font-size: 19px;">Your feedback is highly appreciated and will help us to improve our ability to serve you.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-6 animate-box">
          <h3>Get In Touch</h3>
          <form action="#">
            <div class="row form-group">
              <div class="col-md-6">
                <label for="fname">Location</label>
                <input type="text" id="site" class="form-control" placeholder="Your site">
              </div>
              <div class="col-md-6">
                <label for="lname">Employee ID</label>
                <input type="text" id="empid" class="form-control" placeholder="Your employee ID">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-6">
                <label for="fname">First Name</label>
                <input type="text" id="fname" class="form-control" placeholder="Your firstname">
              </div>
              <div class="col-md-6">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" class="form-control" placeholder="Your lastname">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" placeholder="Your email address">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label for="subject">Subject</label>
                <input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>
              </div>
            </div>
            <div class="form-group">
              <input value="Send Message" class="btn btn-primary">
            </div>

          </form>
        </div>
        <div class="col-md-5 col-md-push-1 animate-box">

          <div class="gtco-contact-info">
            <h3>Contact Information</h3>
            <ul>
              <li class="address">13F, No.88, Sec1., Xintai 5th Rd.,
                <br>Xizhi Dist., New Taipei City
                <br>22181, Taiwan (R.O.C.)</li>
              <li class="phone">
                <a href="tel://+88666169999">+ 886 6616 9999</a>
              </li>
              <li class="email">
                <a href="mailto:info@yoursite.com">IT_SCADA@.com</a>
              </li>
              <li class="url">
                <a href="http://localhost:8080">itscada..com</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--
<div class="gtco-cover gtco-cover-sm" style="background-image:url(./assets/images/img_bg_3.jpg);">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Keep it simple</h1>
            <h2>Free html5 templates Made by <a href="http://gettemplates.co" target="_blank">gettemplates.co</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<app-footer></app-footer> 
</div>

<div class="gototop js-top">
  <a  class="js-gotop">
    <i class="icon-arrow-up"></i>
  </a>
</div>
