<div id="gtco-logo" *ngIf="type == 'big'">
  <img src="./assets/images/wistron.png" alt="IT SCADA" height="70%" width="70%" />
  <a routerLink="/index">
    <img src="./assets/images/rocket.png" alt="IT SCADA" height="50%" width="50%" />
  </a>
  <a routerLink="/index">
    <br/>IT SCADA.
  </a>
</div>

<div id="gtco-logo" *ngIf="type == 'small'">
  <img src="./assets/images/wistron2.png" alt="IT SCADA" height="30%" width="32%" />
  <a href="/index">
    <img src="./assets/images/rocket-white2.png" alt="IT SCADA" height="20%" width="20%" />
  </a>
  <br/>
  <a href="/index">
    <span style="font-size: 10px;">IT SCADA.</span>
  </a>
</div>
