<div class="gtco-loader"></div>

<div id="page">
  <!-- navigation  -->
  <app-menu-bar [logoType]="'small'" [user]="'Ida_Yeh/WHQ/'"></app-menu-bar>
  <!-- navigation  -->
  <header id="gtco-header" class="gtco-cover-smallorigin gtco-cover-sm" role="banner" style="background-image:url(./assets/images/img_bg_1.jpg);">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <!--<h1>Get In Touch</h1>-->
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <h2>Registry your Agent and get an ID to start.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="gtco-section">
    <div class="gtco-container">
      <!-- 1. install -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon">
              <i>1</i>
            </span>
            <div class="feature-copy">
              <h2>Install</h2>
              <p>Download and run the WEB PORTAL Agent installer. please download
                <a>this specific installser</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon" style="background: #52d3aa;">
              <i class="icon-check" style="color: white"></i>
            </span>
          </div>
        </div>
      </div>
      <!-- 2. Registry -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon">
              <i>2</i>
            </span>
            <div class="feature-copy">
              <h2>Registry</h2>
              <p>Get your API Key.
                <code style="background: gray; color: white;">xxx-xxx-xxx-xxx</code> .
                <br/>
                <br/>WEB PORTAL will generate an API key for you to access our service.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon" style="background: #52d3aa;">
              <i class="icon-check" style="color: white"></i>
            </span>
          </div>
        </div>
      </div>
      <!-- 3. Dashboard -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon">
              <i>3</i>
            </span>
            <div class="feature-copy">
              <h2>Configuration</h2>
              <p>Configure your monitoring target. Please follow the instruction and complete the actions. you are almost there.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon" style="background: #52d3aa;">
              <i class="icon-check" style="color: white"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row animate-box">
        <form class="form-inline">
          <div class="col-md-5 col-sm-5"></div>
          <div class="col-md-2 col-sm-2">
            <!--<button type="submit" class="btn btn-default btn-block">Login</button>-->
            <button type="button" class="btn btn-primary btn-block" onclick="location.href='/dashboard';">Go Dashboard</button>
          </div>
          <div class="col-md-5 col-sm-5"></div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer> 
</div>

<div class="gototop js-top">
  <a class="js-gotop">
    <i class="icon-arrow-up"></i>
  </a>
</div>
