<div class="gtco-loader"></div>

<div id="page">
  <!-- navigation  -->
  <app-menu-bar [logoType]="'big'" [user]="username"></app-menu-bar>
  <!-- navigation  -->

  <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(./assets/images/img_bg_1.jpg);">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1>Wistron IT SCADA</h1>
              <h2>Smart Monitoring IT Service.
                <a href="http://witlab.wistron.com/apps/ai01/index.html" target="_blank">witlab.wistron.com</a>
              </h2>
              <h2>See inside any stack, any app, at any scale, anywhere.</h2>
              <p>
                <a href="/login" class="btn btn-default">Get Started</a>                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="gtco-features">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="icon-eye"></i>
            </span>
            <h3>Infrastructure</h3>
            <p>From overview to deep details, fast. Host Maps just got better. 監控基礎架構的的資源。例如，CPU，記憶體，硬碟和網絡接口等硬體組件。或如資料庫或其他服務器。</p>
            <p>
              <a class="btn btn-primary">Learn More</a>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="icon-command"></i>
            </span>
            <h3>APM</h3>
            <p>Application performances. Monitor, troubleshoot, and optimize end-to-end application performance. 通過測量系統/服務/應用程式的有用輸出來顯示它的健康狀態。</p>
            <p>
              <a class="btn btn-primary">Learn More</a>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="icon-power"></i>
            </span>
            <h3>Alerts</h3>
            <p>Avoid alert fatigue with smart, actionable alerts. Get alerts that matter. 判斷發生變化或異常時提供關資訊，將所需要的資訊即時的傳送出去做出警示。</p>
            <p>
              <a class="btn btn-primary">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gtco-features-2">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Why Choose Us</h2>
          <p>From infrastructure to apps, in any environment. Focus on what you need and customize what you want by yourself.
            知道發生了什麼事才能採取動作, 監控數據是觀察系統內部運作的必要條件。IT SCADA 共享知識讓有需要的人都能藉由公開的文件和教學，學會如何取得自己需要的資料並能再創新貢獻回這個平台</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon">
              <i class="icon-check"></i>
            </span>
            <div class="feature-copy">
              <h3>Dashboards</h3>
              <p>Real-time interactive dashboards. See key metrics from every part of your infrastructure, all in one place.
                Use instant, real-time boards or build your own</p>
            </div>
          </div>

          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon">
              <i class="icon-check"></i>
            </span>
            <div class="feature-copy">
              <h3>API</h3>
              <p>Instrument your apps, write new integrations. Includes full API access to bring observability to all your apps.</p>
            </div>
          </div>

          <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
            <span class="icon">
              <i class="icon-check"></i>
            </span>
            <div class="feature-copy">
              <h3>Analytics</h3>
              <p>Custom app metrics or business KPIs. Will continuous to provide "Machine Learning" to automatically detect
                outliers and temporal anomalies. </p>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="gtco-video gtco-bg" style="background-image: url(./assets/images/img_1.jpg); ">
            <a href="https://www.youtube.com/watch?v=zVLS2zV0ohU" class="popup-youtube">
              <i class="icon-video2"></i>
            </a>
            <div class="overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gtco-counter" class="gtco-bg gtco-counter" style="background-image:url(./assets/images/img_bg_2.jpg);">
    <div class="gtco-container">
      <div class="row">
        <div class="display-t">
          <div class="display-tc">
            <div class="col-md-3 col-sm-6 animate-box">
              <div class="feature-center">
                <span class="icon">
                  <i class="icon-eye"></i>
                </span>

                <span class="counter js-counter" data-from="0" data-to="22070" data-speed="5000" data-refresh-interval="50">1</span>
                <span class="counter-label">Running Agents</span>

              </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box">
              <div class="feature-center">
                <span class="icon">
                  <i class="icon-anchor"></i>
                </span>

                <span class="counter js-counter" data-from="0" data-to="97" data-speed="5000" data-refresh-interval="50">1</span>
                <span class="counter-label">Alerts</span>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box">
              <div class="feature-center">
                <span class="icon">
                  <i class="icon-briefcase"></i>
                </span>
                <span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
                <span class="counter-label">Online Users</span>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box">
              <div class="feature-center">
                <span class="icon">
                  <i class="icon-clock"></i>
                </span>

                <span class="counter js-counter" data-from="0" data-to="212023" data-speed="5000" data-refresh-interval="50">1</span>
                <span class="counter-label">Page Views</span>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gtco-testimonial">
    <div class="gtco-container">
      <!-- <div class="row"> -->
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Testimonial</h2>
        </div>
      </div>
      <div class="row animate-box">


        <div class="owl-carousel owl-carousel-fullwidth ">
          <div class="item">
            <div class="testimony-slide active text-center">
              <figure>
                <img src="./assets/images/person_1.jpg" alt="user">
              </figure>
              <span>i4.0 Armstrong ML8000
                <a href="http://smartfactory.wks.wistron.com/home" class="twitter">smartfactory</a>
              </span>
              <blockquote>
                <p>&ldquo;目前已經有了處理大資料的能力，有了分式系統的維運經驗，我們進而要提升穩定度、可靠度，快速的洞見問題找到問題並解決問題. 透過IT SCADA的手法將之整合監控，更能快速的掌握問題，降低問題找查的時間.&rdquo;</p>
              </blockquote>
            </div>
          </div>
          <div class="item">
            <div class="testimony-slide active text-center">
              <figure>
                <img src="./assets/images/person_2.jpg" alt="user">
              </figure>
              <span>Wistron IT Lab
                <a href="http://witlab.wistron.com/apps/demo/#/apps/demo/home" class="twitter">witlab</a>
              </span>
              <blockquote>
                <p>&ldquo;以往Host, Middleware和Application會分開監控，造成某些問題難以找查和溝通. 透過IT SCADA的手法將之整合監控，更能快速的掌握問題，降低問題找查的時間.&rdquo;</p>
              </blockquote>
            </div>
          </div>
          <div class="item">
            <div class="testimony-slide active text-center">
              <figure>
                <img src="./assets/images/person_3.jpg" alt="user">
              </figure>
              <span>To be continue
                <a class="twitter">wistron</a>
              </span>
              <blockquote>
                <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
                  Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>

  <div id="gtco-services">
    <div class="gtco-container">

      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>What We Offer</h2>
          <p>We provide the monitoring methodologies. Publish the lastest monitoring technology and informataion. Keep upgrading
            our service and scale out our integrations.</p>
        </div>
      </div>

      <div class="row animate-box">

        <div class="gtco-tabs">
          <ul class="gtco-tab-nav">
            <li class="active">
              <a data-tab="1">
                <span class="icon visible-xs">
                  <i class="icon-command"></i>
                </span>
                <span class="hidden-xs">Dashboard</span>
              </a>
            </li>
            <li>
              <a data-tab="2">
                <span class="icon visible-xs">
                  <i class="icon-bar-graph"></i>
                </span>
                <span class="hidden-xs">Alert</span>
              </a>
            </li>
            <li>
              <a data-tab="3">
                <span class="icon visible-xs">
                  <i class="icon-bag"></i>
                </span>
                <span class="hidden-xs">Documentation</span>
              </a>
            </li>
            <li>
              <a data-tab="4">
                <span class="icon visible-xs">
                  <i class="icon-box"></i>
                </span>
                <span class="hidden-xs">Support</span>
              </a>
            </li>
          </ul>

          <!-- Tabs -->
          <div class="gtco-tab-content-wrap">

            <div class="gtco-tab-content tab-content active" data-tab-content="1">
              <div class="col-md-6">
                <div class="icon icon-xlg">
                  <i class="icon-command"></i>
                </div>
              </div>
              <div class="col-md-6">
                <h2>Dashboard</h2>
                <p>Drag and drop graphs and other widgets to visualize metrics and events:</p>

                <p>Get started fast by cloning and editing out-of-the-box, templated dashboards. Autogenerate new dashboards
                  programmatically via API.</p>

                <div class="row">
                  <div class="col-md-6">
                    <h2 class="uppercase">Graph metrics</h2>
                    <p>Graph metrics with heatmaps, stacked graphs, toplists, and more.</p>
                  </div>
                  <div class="col-md-6">
                    <h2 class="uppercase">Keep it simple</h2>
                    <p>Use conditional formatting to highlight current values of critical metrics or high-level KPIs.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="gtco-tab-content tab-content" data-tab-content="2">
              <div class="col-md-6">
                <div class="icon icon-xlg">
                  <i class="icon-bar-graph"></i>
                </div>
              </div>
              <div class="col-md-6">
                <h2>Alert</h2>
                <p>Alert on the health of an entire service. Aggregate metrics by any combination of tags: region, role, environment,
                  etc. Dynamic groups include new hosts and containers automatically.</p>

                <p>Exclude any segment of your infrastructure from an alert.</p>

                <div class="row">
                  <div class="col-md-6">
                    <h2 class="uppercase">Recognize trouble </h2>
                    <p>Metrics crossing into unacceptable ranges. Unexpected changes or trends. Automated outlier detection.
                      Configurable “no data” alerts for missing data.</p>
                  </div>
                  <div class="col-md-6">
                    <h2 class="uppercase">Tet alerts matter</h2>
                    <p>Exclude alerts from testing environments or subcritical components. Automatically mute alerts during
                      planned downtime.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="gtco-tab-content tab-content" data-tab-content="3">
              <div class="col-md-6">
                <div class="icon icon-xlg">
                  <i class="icon-bag"></i>
                </div>
              </div>
              <div class="col-md-6">
                <h2>Docmentation</h2>
                <p>Our documentation is split into guides and references. Guides explain how to accomplish a particular task
                  with Datadog, while the references are more general (as you might expect).</p>

                <p>It might be a good idea to start with the IT SCADA Overview, which explains IT SCADA’s capabilities at a
                  high level.</p>
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="uppercase">Search</h2>
                    <p>If you know roughly what you are looking for, enter it in the search box on the top left of the sidebar.</p>
                  </div>
                  <div class="col-md-6">
                    <h2 class="uppercase">Find a mistake</h2>
                    <p>Find a mistake in this documentation? Let us know on GitHub and we’ll take care of it.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="gtco-tab-content tab-content" data-tab-content="4">
              <div class="col-md-6">
                <div class="icon icon-xlg">
                  <i class="icon-box"></i>
                </div>
              </div>
              <div class="col-md-6">
                <h2>Support</h2>
                <p>Our friendly, knowledgeable support engineers are here to help.</p>

                <p>Browse our expert-authored library for answers to common questions.</p>

                <div class="row">
                  <div class="col-md-6">
                    <h2 class="uppercase">FAQ</h2>
                    <p>Frequently Asked Questions</p>
                  </div>
                  <div class="col-md-6">
                    <h2 class="uppercase">Documentation</h2>
                    <p>Reference and Guids</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <div id="gtco-started">
    <app-login-form></app-login-form>
  </div>
  <app-footer></app-footer>
</div>

<div class="gototop js-top">
  <a class="js-gotop">
    <i class="icon-arrow-up"></i>
  </a>
</div>
