<div class="gtco-loader"></div>

<div id="page">
  <!-- navigation  -->
  <app-menu-bar [logoType]="'small'" [user]="'Ida_Yeh/WHQ/Wistron'"></app-menu-bar>
  <!-- navigation  -->

  <header id="gtco-header" class="gtco-cover-smallorigin gtco-cover-sm" role="banner" style="background-image:url(./assets/images/img_bg_1.jpg);">

    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <!--<h1>Get In Touch</h1>-->
              <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <h2>Dashboard.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="section">
    <iframe name="Stack" src="http://10.34.4.108:3000/?orgId=1" width="100%" frameborder="0" scrolling="no" id="iframehere" height="3400">
    </iframe>

  </div>


  <app-footer></app-footer> 
</div>

<div class="gototop js-top">
  <a  class="js-gotop">
    <i class="icon-arrow-up"></i>
  </a>
</div>
